/*
|==========================================================================
| MEDIA QUERIES
|==========================================================================

BREAKPOINT 1 (+ 15px scrollbar)  - Fluid 
========================================================================== */
@media only screen and (max-width: 680px) {
    /*
    |--------------------------------------------------------------------------
    | PRESETS 
    |-------------------------------------------------------------------------- 
    */
    .nomob {
        display: none !important;
    }
    .showmob {
        display: block !important;
        max-height: none !important;
        font-size: 12px !important;
        overflow: auto !important;
    }
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container__td {
        text-align: center!important;
    }
    .max-width-none {
        max-width: none !important;
    }
   /*  td.container__td {
        padding-left: 0 !important;
        padding-right: 0 !important;
    } */
    /* .hero td.container__td, 
    .ms-container {  
        padding-left: 0 !important;  
        padding-right: 0 !important;
    } */
    .width-100percent { 
        width: 100% !important;
    }
    .width-80percent { 
        width: 80% !important;
    }
}
/*  
BREAKPOINT 2 -  Stack 
============================================================================= */
@media only screen and (max-width: 614px) {

/*
    |--------------------------------------------------------------------------
    | SINGLE STORY - 2 COL STACK UNEVEN
    |-------------------------------------------------------------------------- 
*/
    td.align-center, table.align-center, img.align-center {
        text-align: center !important;
        margin: 0 auto !important;
    }


 }

/*  
BREAKPOINT 3 -  Mob-Stack 
============================================================================= */
@media only screen and (max-width: 514px) {
 
/*   .mod-2col-fluid .col-r__td {
        padding: 10% 20px 10% 10px !important;
        height: auto !important;
 } */

/*
|--------------------------------------------------------------------------
|  2 COL FLUID
|-------------------------------------------------------------------------- 
*/
.mod-2col-fluid .col-l__td
{
    padding: 0 7%;
}
 /*
|--------------------------------------------------------------------------
|  3 COL STACK FURTHER STORIES
|-------------------------------------------------------------------------- 
*/
.mod-3col-stack-fr .inner-container__td {
    padding: 0 10px;

}

/*  
BREAKPOINT 3 -  Mob-Stack 
============================================================================= */
@media only screen and (max-width: 338px) {
        u + .body .wrapper {
        width: 100% !important;
        width: 100vw !important;
    }
 
 /*
|--------------------------------------------------------------------------
|  3 COL STACK FURTHER STORIES
|-------------------------------------------------------------------------- 
*/
.mod-3col-stack-fr div.column-one,
.mod-3col-stack-fr div.column-two,
.mod-3col-stack-fr div.column-three{
    max-width:100% !important; 
}

}