/*
|==========================================================================
| MEDIA QUERIES
|==========================================================================


BREAKPOINT 1 (+ 15px scrollbar)  - Fluid 
========================================================================== */
@media only screen and (max-width: 600px) {
    /*
    |--------------------------------------------------------------------------
    | PRESETS 
    |-------------------------------------------------------------------------- 
    */
    .nomob {
        display: none !important;
    }
    .showmob {
        display: block !important;
        max-height: none !important;
        font-size: 12px !important;
        overflow: auto !important;
    }
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container__td {
        text-align: center!important;
    }
    .max-width-none {
        max-width: none !important;
    }
   /*  td.container__td {
        padding-left: 0 !important;
        padding-right: 0 !important;
    } */
    /* .hero td.container__td, 
    .ms-container {  
        padding-left: 0 !important;  
        padding-right: 0 !important;
    } */
    .width-100percent { 
        width: 100% !important;
    }

}
/*  
BREAKPOINT 2 -  Stack       612px including scroll bar
============================================================================= */
@media only screen and (max-width: 597px) {
 /*
    |--------------------------------------------------------------------------
    | SHAVE GEL SUBSCRIBE - 2COL | STACK | UNEVEN   &   OFFERS - 3COL | STACK
    |-------------------------------------------------------------------------- 
    */
    td.align-center, table.align-center, img.align-center {
        text-align: center !important;
        margin: 0 auto !important;
    }
    /*
    |--------------------------------------------------------------------------
    |  OFFERS - 3COL | STACK
    |-------------------------------------------------------------------------- 
    */
    .offers-cta {
    width: none !important;
    border-right-width: 30px !important;
    border-left-width: 30px !important;
}
 }

/*  
BREAKPOINT 3 -  Mob-Stack 
============================================================================= */
@media only screen and (max-width: 514px) {
    /*
    |--------------------------------------------------------------------------
    |   CUSTOMER PRODUCTS - 2COL | SCALE
    |-------------------------------------------------------------------------- 
    */
    .mod-2col-scale .col-l__td
    {
        padding: 0 7%;
    }
     /*
    |--------------------------------------------------------------------------
    |  OFFERS - 3COL | STACK
    |-------------------------------------------------------------------------- 
    */
    .mod-3col-stack .inner-container__td {
        padding: 0 10px;
    }

/*  
BREAKPOINT 4 -  Mob-Stack 
============================================================================= */
@media only screen and (max-width: 338px) {
       
        u + .body-tag .wrapper {
        width: 100% !important;
        width: 100vw !important;
    }
     /*
    |--------------------------------------------------------------------------
    |  OFFERS - 3COL | STACK
    |-------------------------------------------------------------------------- 
    */
    .mod-3col-stack div.column-one,
    .mod-3col-stack div.column-two,
    .mod-3col-stack div.column-three{
        max-width:100% !important; 
    }

}